<h2> Items List ordered desc by the number of the PlayerCharacters that own them</h2>

<div class="paginator">
  <ng-container *ngFor="let page of pageRange; let i = index">
    <button [class.active]="page === currentPage + 1" (click)="setPage(page)">{{ page }}</button>
    <span *ngIf="shouldDisplayDots(i)">...</span>
  </ng-container>
</div>

<!-- Paginator CSS styles -->
  <style>
    .paginator {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    .paginator button {
      background-color: #f1f1f1;
      border: 1px solid #ddd;
      color: black;
      cursor: pointer;
      display: inline-block;
      margin: 0 4px;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
    }
    .paginator button:hover:not(.active) {
      background-color: #ddd;
    }
    .paginator button.active {
      background-color: #2196F3;
      color: white;
    }
  </style>

<table class="table table-striped">
    <thead>
        <th> Item Name</th>
        <th> Item Rarity</th>
        <th> Item Level</th>
        <th> #Number of existing copies</th>
    </thead>
    <tbody>
        <tr *ngFor="let itemstatisticplayercharacter of itemstatisticplayercharacters">
            <td>{{itemstatisticplayercharacter.itemName}}</td>
            <td>{{itemstatisticplayercharacter.itemRarity}}</td>
            <td>{{itemstatisticplayercharacter.itemLevel}}</td>
            <td>{{itemstatisticplayercharacter.numberOfCopies}}</td>
        </tr>    
    </tbody>
</table>