<h2> PlayerCharacter List</h2>

<!-- <div class="filter-by-level">
  <label for="filterLevel">Filter by level greater than: </label>
  <input type="number" min="0" [(ngModel)]="filterLevel" name="filterLevel" placeholder="Enter level" />
  <button (click)="applyFilter()">Submit</button>
</div> -->
<!-- filter-->
<div class="filter-by-level input-group mb-3">
  <label for="filterLevel" class="input-group-text">Filter by level greater than: </label>
  <input type="number" min="0" [(ngModel)]="filterLevel" name="filterLevel" placeholder="Enter level" class="form-control" />
  <button (click)="applyFilter()" class="btn btn-primary">Submit</button>
</div>


<style>
  .filter-by-level {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .filter-by-level label {
    margin-right: 10px;
  }
  .filter-by-level .btn {
    margin-left: 10px;
  }
</style>

<div class="paginator">
  <ng-container *ngFor="let page of pageRange; let i = index">
    <button [class.active]="page === currentPage + 1" (click)="setPage(page)">{{ page }}</button>
    <span *ngIf="shouldDisplayDots(i)">...</span>
  </ng-container>
</div>

<!-- Paginator CSS styles -->
<style>
  .paginator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .paginator button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px; /* Reduced margin */
    padding: 4px 8px; /* Reduced padding */
    text-decoration: none;
    transition: background-color .3s;
    font-size: 0.8rem; /* Reduced font size */
  }
  .paginator button:hover:not(.active) {
    background-color: #ddd;
  }
  .paginator button.active {
    background-color: #2196F3;
    color: white;
  }
</style> 


<table class="table table-striped">
    <thead>
        <th> Playercharacter Name</th>
        <th> Level</th>
        <th> Experience</th>
        <th> ClassId</th>
        <!-- <th> GameUserId</th> -->
        <th> #Number of items owned</th>
        <th> Actions </th>
    </thead>
    <tbody>
        <tr *ngFor="let playercharacter of playercharacters">
            <td>{{playercharacter.pc_name}}</td>
            <td>{{playercharacter.level}}</td>
            <td>{{playercharacter.experience}}</td>
            <td>{{playercharacter.classId}}</td>
            <!-- <td>{{playercharacter.gameUserId}}</td> -->
            <td>{{playercharacter.numberOfItemsOwned}}</td>
            <td>
                <button (click)="updatePlayercharacter(playercharacter.id)" class="btn btn-info" > Update</button>
                <button (click)="confirmDelete(playercharacter.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click)="playercharacterDetails(playercharacter.id)" class="btn btn-info" style="margin-left: 10px"> Details</button>

            </td>
        </tr>    
    </tbody>
</table>
