<h2> GameUser List</h2>

<div class="paginator">
  <ng-container *ngFor="let page of pageRange; let i = index">
    <button [class.active]="page === currentPage + 1" (click)="setPage(page)">{{ page }}</button>
    <span *ngIf="shouldDisplayDots(i)">...</span>
  </ng-container>
</div>

<!-- Paginator CSS styles -->
<style>
  .paginator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .paginator button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px; /* Reduced margin */
    padding: 4px 8px; /* Reduced padding */
    text-decoration: none;
    transition: background-color .3s;
    font-size: 0.8rem; /* Reduced font size */
  }
  .paginator button:hover:not(.active) {
    background-color: #ddd;
  }
  .paginator button.active {
    background-color: #2196F3;
    color: white;
  }
</style>

  
  

<button (click)="mySort(true)">ASC by FirstName</button>
<button (click)="mySort(false)">DESC by FirstName</button>
<table class="table table-striped">
    <thead>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email Address</th>
        <th> Active Status</th>
        <th> #PlayerCharacters owned</th>
        <th> Actions </th>
    </thead>
    <tbody>
        <tr *ngFor="let gameuser of gameusers">
            <td>{{gameuser.firstName}}</td>
            <td>{{gameuser.lastName}}</td>
            <td>{{gameuser.emailAddress}}</td>
            <td>{{gameuser.activeStatus}}</td>
            <td>{{gameuser.numberOfPlayerCharacters}}</td>
            <td>
                <button (click)="updateGameuser(gameuser.id)" class="btn btn-info" > Update</button>
                <button (click)="confirmDelete(gameuser.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click)="gameuserDetails(gameuser.id)" class="btn btn-info" style="margin-left: 10px"> Details</button>

            </td>
        </tr>    
    </tbody>
</table>
