<h3> View Playercharacter Details</h3>
<div>
    <div>
        <label><b>Playercharacter Name: </b></label> {{playercharacter.pc_name}}
    </div>
    <div>
        <label><b>Level: </b></label> {{playercharacter.level}}
    </div>
    <div>
        <label><b>Experience: </b></label> {{playercharacter.experience}}
    </div>
    <div>
        <label><b>ClassId: </b></label> {{playercharacter.classId}}
    </div>
    <div>
        <label><b>GameUserId: </b></label> {{playercharacter.gameUserId}}
        <!-- change this to gameuser username -->
    </div>
    <div>
        <label><b>#Number of items owned: </b></label> {{playercharacter.numberOfItemsOwned}}
    </div>
</div>