<h3> View Playercharacter Details</h3>
<div>
    <div>
        <label><b>Playercharacter Name: </b></label> {{playercharacter.pc_name}}
    </div>
    <div>
        <label><b>Level: </b></label> {{playercharacter.level}}
    </div>
    <div>
        <label><b>Experience: </b></label> {{playercharacter.experience}}
    </div>
    <div>
        <label><b>ClassId: </b></label> {{playercharacter.classId}}
    </div>
    <div>
        <label><b>GameUser Username: </b></label> {{playercharacter.gameUserUsername}}
    </div>
    <div>
        <label><b>#Number of items owned: </b></label> {{playercharacter.numberOfItemsOwned}}
    </div>
    <button (click)="addItemToPlayercharacter()" class="btn btn-info" > Add Item to this PlayerCharacter</button>
</div>

<app-add-item-to-playercharacter *ngIf="showAddItemModal" (close)="closeAddItemModal()" (submitData)="addItemToPlayerCharacter($event)"></app-add-item-to-playercharacter>
