<h3> View Item Details</h3>
<div>
    <div>
        <label><b>Item Name: </b></label> {{item.itemName}}
    </div>
    <div>
        <label><b>Item Rarity: </b></label> {{item.itemRarity}}
    </div>
    <div>
        <label><b>Item Type: </b></label> {{item.itemType}}
    </div>
    <div>
        <label><b>Item Effect: </b></label> {{item.itemEffect}}
    </div>
    <div>
        <label><b>Item Level: </b></label> {{item.itemLevel}}
    </div>
    <div>
        <label><b>Description: </b></label> {{item.description}}
    </div>
    <div>
        <label><b>#Number of existing copies: </b></label> {{item.numberOfCopies}}
    </div>
</div>